.content-wrapper {
    padding-top:5rem;
    min-height:700px;
    input {
        width: 100%;
        border : 1px solid #ccc;
        padding: 0.5rem;
    }
    .container {
       
        margin:0 auto;
    }
}